@using MyFurnitureShop.Core.Models.Furniture
@model FurnitureDetailsModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        ViewBag.Title = "Pet Details";
    }

    <h2 class="text-center">@Model.Name</h2>
    <hr />

    <link rel="stylesheet" href="~/css/product.css" />
</head>


<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Furniture Image">
        </div>
        <div class="card col-8 border-0">
           @* <p style="font-size:25px;"><u>@Model.Name</u></p>*@
            @*<p>Age: <b>@Model.</b></p>*@
            <p>
                Price :
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Type: <b>@Model.Type.Name</b></p>
            <p>Colour: <b>@Model.Colour</b></p>
            <div class="form-inline">
                
            
                <form class="ml-2" asp-controller="Cart"
              asp-action="Index" asp-route-id="@Model.Id" method="post">
                    <input class="btn btn-primary" type="submit" value="Add to cart" />
                </form>
         
                   
            </div>
            <p></p>
        </div>
    </div>
</div>